:root {
    --background-color: #eee;
    --text-color: #000;
    --container-background: rgba(255, 255, 255, 0.8);
    --container-border: rgba(0, 0, 0, 0.1);
    --details-background: rgba(238, 238, 238, 0.5);
    --summary-background: rgba(255, 255, 255, 0.8);
    --button-background: rgba(255, 255, 255, 0.8);
    --button-border: rgba(0, 0, 0, 0.8);
    --link-color: #d55b8e;
    --hr-background: #000;

    --hover: #fafafa;
}

@media (prefers-color-scheme: light) {
    :root {
        --background-color: #333;
        --text-color: #eee;
        --container-background: rgba(50, 50, 50, 0.8);
        --container-border: rgba(255, 255, 255, 0.1);
        --details-background: rgba(50, 50, 50, 0.5);
        --summary-background: rgba(70, 70, 70, 0.8);
        --button-background: rgba(70, 70, 70, 0.8);
        --button-border: rgba(255, 255, 255, 0.8);
        --link-color: #5bcefa;
        --hr-background: #fff;

        --hover: #555;
    }
}

body {
    background: var(--background-color);
    color: var(--text-color);
    font-family: Verdana, sans-serif;
    word-wrap: break-word;
    overflow-y: scroll;
    background-image: linear-gradient(
        135deg,
        rgba(91, 206, 250, 0.4),
        rgba(245, 169, 184, 0.4),
        rgba(255, 255, 255, 0.4),
        rgba(245, 169, 184, 0.4),
        rgba(91, 206, 250, 0.4)
    );
    background-attachment: fixed;
}

.container {
    width: 90%;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 5% auto;
    border: 1px solid var(--container-border);
    background: var(--container-background);
}

details {
    background: var(--details-background);
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: 1px solid var(--container-border);
}

summary {
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background: var(--summary-background);
    cursor: pointer;
    display: flex;
    font-size: 1.3em;
}

.contents {
    padding: 0 10px;
}

.container details:not(:last-child) {
    margin-bottom: 20px;
}

h1 {
    text-align: center;
}

hr {
    margin: 3% auto;
    height: 1px;
    border: none;
    background: var(--hr-background);
}

a {
    color: var(--link-color);
}

/* Update button no longer n use
button {
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 3px;
    border: 2px solid var(--button-border);
    border-radius: 10px;
    background: var(--button-background);
    padding: 5px;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button:hover {
    background: var(--hover);
} */

summary::before {
    content: "?";
    margin-right: 1em;
}

details[open] summary::before {
    content: "!";
    margin-right: 1.15em;
}

details[open] summary {
    margin-bottom: 1.2em;
}

summary:hover {
    background: var(--hover);
}

ul {
    list-style-type: none;
    padding: 0 0 0 20px;
}

li::before {
    content: "- ";
    margin-right: 8px;
}

sub {
    font-size: xx-small;
}

.img-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
    align-items: center;
}

img {
    max-width: 100%;
    max-height: 300px; /* Cap the height */
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    object-fit: cover;
    border: 1px solid var(--container-border);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.enlargeOnHover {
    display: block;
    cursor: pointer;
    transition: transform 0.3s ease;
    z-index: 1;
}

.enlargeOnHover:hover {
    z-index: 10;
    transform: scale(1.5);
    position: relative;
}