:root {
    --background-color: #eee;
    --text-color: #000;
    --container-background: rgba(255, 255, 255, 0.8);
    --container-border: rgba(0, 0, 0, 0.1);
    --details-background: rgba(238, 238, 238, 0.5);
    --summary-background: rgba(255, 255, 255, 0.8);
    --link-color: #d55b8e;
    --hr-background: #000;
    --hover: #fafafa;
    --button-background: rgba(255, 255, 255, 0.8);
    --button-border: 1px solid rgba(0, 0, 0, 0.8);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #333;
        --text-color: #eee;
        --container-background: rgba(50, 50, 50, 0.8);
        --container-border: rgba(255, 255, 255, 0.1);
        --details-background: rgba(50, 50, 50, 0.5);
        --summary-background: rgba(70, 70, 70, 0.8);
        --link-color: #5bcefa;
        --hr-background: #fff;
        --hover: #555;
        --button-background: rgba(70, 70, 70, 0.8);
        --button-border: 1px solid rgba(255, 255, 255, 0.8);
    }
}

body {
    background: var(--background-color);
    color: var(--text-color);
    font-family: Verdana, sans-serif;
    word-wrap: break-word;
    overflow-y: scroll;
    background-image: linear-gradient(
        135deg,
        rgba(91, 206, 250, 0.4),
        rgba(245, 169, 184, 0.4),
        rgba(255, 255, 255, 0.4),
        rgba(245, 169, 184, 0.4),
        rgba(91, 206, 250, 0.4)
    );
    background-attachment: fixed;
}

.container {
    width: 90%;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 5% auto;
    border: 1px solid var(--container-border);
    background: var(--container-background);
}

details {
    background: var(--details-background);
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: 1px solid var(--container-border);
}

summary {
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background: var(--summary-background);
    cursor: pointer;
    display: flex;
    font-size: 1.3em;
}

.contents {
    padding: 0 10px;
}

.container details:not(:last-child) {
    margin-bottom: 20px;
}

h1 {
    text-align: center;
}

hr {
    margin: 3% auto;
    height: 1px;
    border: none;
    background: var(--hr-background);
}

a {
    color: var(--link-color);
}

summary::before {
    content: "?";
    margin-right: 1em;
}

details[open] summary::before {
    content: "!";
    margin-right: 1.15em;
}

details[open] summary {
    margin-bottom: 1.2em;
}

summary:hover {
    background: var(--hover);
}

ul {
    list-style-type: none;
    padding: 0 0 0 20px;
}

li::before {
    content: "- ";
    margin-right: 8px;
}

.img-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
    align-items: center;
}

.img-container {
    position: relative;
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    border-radius: 10px;
    border: 1px solid var(--container-border);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.img-container img {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
}

.img-text {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    padding: 5px;
    text-align: center;
    font-weight: bold;
    font-size: 1em;
    word-wrap: break-word;
    white-space: normal;
    -webkit-text-stroke: 0.5px var(--background-color);
    color: var(--text-color);
}

img {
    max-width: 100%;
    max-height: 300px;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    object-fit: cover;
    border: 1px solid var(--container-border);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.enlargeOnHover {
    display: block;
    transition: transform 0.3s ease;
    z-index: 1;
}

.enlargeOnHover:hover {
    z-index: 10;
    transform: scale(2);
    position: relative;
}

button {
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 3px;
    border: var(--button-border);
    border-radius: 10px;
    background: var(--button-background);
    padding: 5px;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: var(--text-color)
}

button:hover {
    background: var(--hover);
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.smallText {
    font-size: 10px;
}

.splashText {
    animation: batman 5s infinite ease-in-out;
}

@keyframes batman {
    0% {
        transform: scale(0.1) rotate(0deg) translate(0, 0);
        opacity: 0;
    }
    50% {
        transform: scale(1.5) rotate(1800deg) translate(0, 0);
        opacity: 1;
    }
    60% {
        transform: scale(1) rotate(2160deg) translate(0, 0);
        opacity: 1;
    }
    80% {
        transform: scale(4) rotate(2880deg) translate(0, 0);
        opacity: 0;
    }
    100% {
        transform: scale(0.1) rotate(3600deg) translate(0, 0);
        opacity: 0;
    }
}

.center *:not(:last-child) {
    margin-right: 20px;
}
